---
import SEO from '../components/seo/SEO.astro';
import Header from '../components/ui/Header.astro';

export interface Props {
  title: string;
  description: string;
  isLocalBusiness?: boolean;
  type?: 'website' | 'article';
}

const { title, description, isLocalBusiness, type = 'website' } = Astro.props;
---
<html lang="es" class="scroll-smooth">
  <head>
    <SEO title={title} description={description} isLocalBusiness={isLocalBusiness} type={type} />
  </head>
  <body class="bg-slate-950 text-slate-300 font-sans antialiased overflow-x-hidden">
    <Header />
    <main>
      <slot />
    </main>
  </body>
</html>
